<div class="container my-4">
    <h2>Edit Spare Part</h2>
    <form [formGroup]="sparePartForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" id="price" formControlName="price" class="form-control">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" id="image" formControlName="image" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
  